<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-center">Formulario crear pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Selecciona una empresa
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Empresa</ion-label>
      <ion-select (ionChange)="abrirModal()">
        <ion-select-option *ngFor="let empresa of empresasReales | ordenar:'id'" value="{{ empresa.name }}" (ionSelect)="abrirModal()">{{empresa.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button color="danger" expand="full" (click)="cancelarPedido()" id="cancelarPedido">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Cancelar
  </ion-button>

  <ion-button color="success" expand="full" type="submit" id="btnAniadir">
    <ion-icon name="add-circle"></ion-icon>
    Añadir
  </ion-button>

  <!--<form [formGroup]="formularioPedido" (ngSubmit)="aniadirPedido()" method="post"></form>-->
</ion-content>
