<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-center">Formulario crear pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>
        Selecciona empresa:
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Empresa</ion-label>
      <ion-select *ngFor="let empresa of empresas">
        <ion-select-option value="empresa">{{empresa.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

  <ion-button color="danger" expand="full" (click)="cancelar()" id="cancelarPedido">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Cancelar
  </ion-button>

  <ion-button color="success" expand="full" type="submit" id="btnAniadir">
    <ion-icon name="add-circle"></ion-icon>
    Añadir
  </ion-button>

  <!--<form [formGroup]="formularioPedido" (ngSubmit)="aniadirPedido()" method="post">

    <ion-button expand="full" type="submit">
      <ion-icon name="add-circle"></ion-icon>
      Añadir
    </ion-button>

    <ion-button expand="full" [disabled]="formularioPedido.invalid" type="submit" class="botonArticulo" color="success">
      <ion-icon name="add-circle"></ion-icon>
      Añadir
    </ion-button>
  </form>-->
</ion-content>
