<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usuarios/catalogos">
        Cancelar
      </ion-back-button>
    </ion-buttons>
    <ion-title>Formulario producto</ion-title>
  </ion-toolbar>
   <ion-searchbar animated debounce placeholder="Nombre de artículo"
    (ionChange)="buscarArticulos($event)" class="form-search">
  </ion-searchbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formularioProducto" (ngSubmit)="aniadirProducto()" method="post">
    <ion-item class="dato_usuario">
      <ion-label>Nombre de familia:</ion-label>
      <ion-select formControlName="family" value="brown" okText="Seleccionar" cancelText="Cancelar">
        <ion-select-option *ngFor="let family of families" value="{{ family.id }}">
          {{family.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioProducto.controls.family.errors?.required && (formularioProducto.touched || formularioProducto.dirty)">
      * Seleccione una familia.
    </ion-label>

    <ion-item class="dato_usuario">
      <ion-label>Nombre de artículo:</ion-label>
      <ion-select formControlName="article" value="brown" okText="Seleccionar" cancelText="Cancelar">
        <!-- Tubería del buscador: | buscador:'nombreArticulo' -->
        <ion-select-option *ngFor="let article of articles" value="{{ article.id }}">
          {{article.color_name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioProducto.controls.article.errors?.required && (formularioProducto.touched || formularioProducto.dirty)">
      * Seleccione un artículo.
    </ion-label>

    <ion-item class="dato_usuario">
      <ion-label position="floating">Precio:</ion-label>
      <ion-input formControlName="price" type="number"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioProducto.controls.price.errors?.required && (formularioProducto.touched || formularioProducto.dirty)">
      * Debe introducir un precio.
    </ion-label>

    <ion-button expand="full" [disabled]="formularioProducto.invalid" type="submit" class="botonArticulo" color="success">
      <ion-icon name="add-circle"></ion-icon>
      Añadir
    </ion-button>
  </form>
</ion-content>
