<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/usuarios/catalogos">
        Cancelar
      </ion-back-button>
    </ion-buttons>
    <ion-title>Formulario producto</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar animated placeholder="Nombre de artículo"
      (ionChange)="buscarArticulos($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formularioProducto" (ngSubmit)="aniadirProducto()" method="post">

    <ion-radio-group formControlName="article">
      <ion-list-header>
        <ion-label class="select">Seleccione un artículo:</ion-label>
      </ion-list-header>
      <ion-label color="danger" *ngIf="formularioProducto.controls.article.errors?.required && (formularioProducto.touched || formularioProducto.dirty)">
        * Debe seleccionar un artículo.
      </ion-label>

      <ion-item class="dato_usuario" *ngFor="let articulo of articulos | buscador: nombreArticulo">
        <ion-label>{{ articulo.description }}</ion-label>
        <ion-radio slot="start" value="{{ articulo.id }}" (click)="seleccionarArticulo(articulo.description)"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item class="dato_usuario">
      <ion-label position="floating">Precio:</ion-label>
      <ion-input formControlName="price" type="number"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioProducto.controls.price.errors?.required && (formularioProducto.touched || formularioProducto.dirty)">
      * Debe introducir un precio.
    </ion-label>

    <ion-item class="dato_usuario">
      <ion-label><pre>Descripción artículo: </pre></ion-label>
      <ion-input [attr.disabled]="deshabilitado" formControlName="article" text-capitalize> {{ descripcionArticulo }} </ion-input>
    </ion-item>

    <ion-button expand="full" [disabled]="formularioProducto.invalid" type="submit" class="botonArticulo" color="success">
      <ion-icon name="add-circle"></ion-icon>
      Añadir
    </ion-button>
  </form>
</ion-content>
