.dato_usuario {
    margin-top: 4.67%;
}

.botonArticulo {
    margin-top: 9.45%;
    margin-left: 4.32%;
    margin-right: 4.32%;
}


/* Establecer otra forma de nuestro searchBar */

.form-search {
    background-color: grey;
}

.select {
    margin-top: 3.11%;
    margin-left: 1.25%;
    font-size: 18px;
}