.titulo {
    text-align: center;
    margin-right: 13%;
}

#dato_usuario {
    margin-top: 2.5%;
    margin-bottom: 2.1%;
}

#botonEditar {
    margin-top: 6.5%;
    margin-right: 2%;
    margin-left: 2%;
}