<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Editar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formularioEditar" (ngSubmit)="editarUsuario()" method="post">
    <ion-item class="dato_usuario">
      <ion-input formControlName="id" type="hidden" disabled></ion-input>
    </ion-item> 

    <ion-item class="dato_usuario">
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input formControlName="firstname" type="text"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioEditar.controls.firstname.errors?.required && (formularioEditar.touched || formularioEditar.dirty)">
      * Debe introducir un nombre.
    </ion-label>
    <ion-label color="danger" *ngIf="formularioEditar.controls.firstname.errors?.minLength && (formularioEditar.touched || formularioEditar.dirty)">
      * Su nombre debe tener al menos 3 caracteres.
    </ion-label>
    
    
    <ion-item class="dato_usuario">
      <ion-label position="floating">Apellido:</ion-label>
      <ion-input formControlName="secondname" type="text"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioEditar.controls.secondname.errors?.required && (formularioEditar.touched || formularioEditar.dirty)">
      * Debe introducir un apellido.
    </ion-label>
    <ion-label color="danger" *ngIf="formularioEditar.controls.secondname.errors?.minLength && (formularioEditar.touched || formularioEditar.dirty)">
      * Su apellido debe tener al menos 3 caracteres.
    </ion-label>

    <ion-item class="dato_usuario">
      <ion-label position="floating">Email:</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioEditar.controls.email.errors?.required && (formularioEditar.touched || formularioEditar.dirty)">
      * Debe introducir un email.
    </ion-label>
    <ion-label color="danger" *ngIf="formularioEditar.controls.email.errors?.email && (formularioEditar.touched || formularioEditar.dirty)">
      * El email no es válido.
    </ion-label>

    <ion-item class="dato_usuario">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioEditar.controls.password.errors?.required && (formularioEditar.touched || formularioEditar.dirty)">
      * Debe introducir una contraseña.
    </ion-label>
    <ion-label color="danger" *ngIf="formularioEditar.controls.password.errors?.minLength && (formularioEditar.touched || formularioEditar.dirty)">
      * La contraseña debe tener al menos 5 caracteres.
    </ion-label>

   <ion-item class="dato_usuario">
      <ion-label>Nombre de Compañía:</ion-label>
      <!--  (ionChange)="getIdCompania($event)"-->
      <ion-select formControlName="compania" value="brown" okText="Seleccionar" cancelText="Cancelar" (ionCancel)="cancelarSeleccion($event)">
        <ion-select-option *ngFor="let company of companies | ordenar:'id'" value="{{ company.id }}">
          {{company.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label color="danger" *ngIf="formularioEditar.controls.compania.errors?.required && (formularioEditar.touched || formularioEditar.dirty)">
      * Seleccione un nombre de compañía.
    </ion-label>

    <ion-button expand="full" type="submit" [disabled]="!formularioEditar.valid" id="botonRegister" color="tertiary" id="botonEditar">
      <ion-icon name="person"></ion-icon>
      Editar
    </ion-button>
  </form>
</ion-content>