<app-contenido-pedido *ngFor="let pedido of pedidosReales | slice:0:slice; let numPedido = index"
    [pedidos]="pedidos" [pedido] = "pedido" [productos]="productos"
    [orders]="orders" [pedidosReales]="pedidosReales" [numPedido]="numPedido"
    titulo="Contenido de pedido">
</app-contenido-pedido>

<ion-infinite-scroll threshold="100px" (ionInfinite)="cargarPedidos($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Cargando pedidos...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
