<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Listado de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-lista-pedidos [pedidos]="pedidos" [pedido] = "pedido" [productos]="productos"
    [orders]="orders" [pedidosReales]="pedidosReales" titulo="Listar pedidos">
  </app-lista-pedidos>

  <ion-infinite-scroll threshold="160px" (ionInfinite)="cargaPedidos($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Cargando pedidos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
