.titulo {
    text-align: center;
    margin-right: 30.45%;
}
#enca{
    margin:0;
    height: 40px;
    text-align: center;
    line-height:1.8;
}
ion-header {
    &.header-md:after {
      background: none;
    }
  }