<ion-header [translucent]="true">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo">Pedidos</ion-title>
  </ion-toolbar>

  <h3 id="enca" no-border></h3>
</ion-header>

<ion-content class="ion-padding">
  <app-lista-pedidos [pedidos]="pedidos" [pedido] = "pedido" [productos]="productos"
    [orders]="orders" [pedidosReales]="pedidosReales" titulo="Listar pedidos">
  </app-lista-pedidos>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="toFormPedidos()">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
