<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onLogout()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          Logout
      </ion-button>
    </ion-buttons>
    <ion-title id="titulo">Pestaña de administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-item class="campo">
      <ion-label>Id</ion-label>
      <ion-label>Nombre</ion-label>
      <ion-label>Email</ion-label>
      <ion-label>Activado</ion-label>
      <ion-label>Gestionar usuario</ion-label>
    </ion-item>
    <ion-item-sliding *ngFor="let user of users | orderBy:'id'">
        <!-- Mostramos los usuarios, excepto al administrador -->
        <ion-item *ngIf="user.type==='u' && user.deleted===0" class="usuarios">
            <ion-label>{{ user.id }}</ion-label>
            <ion-label>{{ user.firstname }}</ion-label>
            <ion-label>{{ user.email }}</ion-label>
            <ion-label>{{ user.actived }}</ion-label>
            <ion-button *ngFor="let funciones of buttons | async; let item = index;" color="{{ funciones.color }}"
              routerLink="{{ funciones.ruta }}">
                <ion-icon name="{{ funciones.icono }}"></ion-icon>
                <ion-label *ngIf="item === 0" (click)="activar(user.id)" id={{user.id}}>{{ funciones.nombre }}</ion-label>
                <ion-label *ngIf="item === 1" (click)="desactivar(user.id)" id="{{user.id}}">{{funciones.nombre}}</ion-label>
                <ion-label *ngIf="item === 2" (click)="onEditar(user.id)" id={{user.id}}>{{ funciones.nombre }}</ion-label>
                <ion-label *ngIf="item === 3" (click)="eliminar(user.id)" id="{{user.id}}">{{ funciones.nombre }}</ion-label>
            </ion-button>
        </ion-item>
    </ion-item-sliding>
</ion-content>