<ion-tabs>

  <!-- Pestañas para los usuarios -->
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="catalogos">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Catálogo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pedidos">
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="graficas">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Gráficas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
