<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-center">Crear pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-button expand="full" color="warning" (click)="backToFormPedidos()">
      <ion-icon name="arrow-back-circle"></ion-icon>
      Volver a Pedidos
    </ion-button>
    <ion-item>
      <ion-label>Productos</ion-label>
      <ion-select multiple="true">
        <ion-select-option *ngFor="let producto of productos">{{producto.compamy_description}} </ion-select-option>
      </ion-select>
    </ion-item>
</ion-content>
