<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="text-center">Crear pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-button expand="full" color="warning" (click)="backToFormPedidos()">
      <ion-icon name="arrow-back-circle"></ion-icon>
      Volver a Pedidos
    </ion-button>

    <ion-button expand="full" color="tertiary" (click)="formPedidos()" id="btnForm">
      <ion-icon name="cart"></ion-icon>
      Abrir formulario
    </ion-button>
</ion-content>
