#titulo {
    text-align: center;
}


/* Imágen de logo del login */

.imagen {
    width: 100px;
    height: 100px;
    margin-bottom: 1.80em;
    margin-left: 38%;
}


/*Componentes del formulario de login*/

#dato_usuario {
    margin-top: 2.5%;
    margin-bottom: 2.1%;
}

#botonLogin {
    margin-top: 6.5%;
    margin-right: 2%;
    margin-left: 2%;
}

#botonRegister {
    margin-top: 6.5%;
    margin-right: 2%;
    margin-left: 2%;
}