<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #almagest="ngForm" (ngSubmit)="registrar()">
    <ion-list>
      <ion-list-header>Validación de usuario: {{ almagest.valid }}</ion-list-header>
      <ion-item id="dato_usuario">
          <!-- Establecemos mensaje de validación para el dato -->
          <ion-label color="danger" *ngIf="usuario.controls.firstname.errors?.required">
            * Tiene que introducir el nombre
          </ion-label>
          <!-- Campo para introducir el dato -->
          <ion-label ion-label position="floating">Nombre:</ion-label>
          <ion-input type="text" name="firstname" [(ngModel)]="usuario.firstname"></ion-input>
      </ion-item>

      <ion-item id="dato_usuario">
        <ion-label color="danger" *ngIf="usuario.controls.secondname.errors?.required">
          * Tiene que introducir el apellido
        </ion-label>
        <ion-label position="floating">Apellido:</ion-label>
        <ion-input type="text" name="secondname" [(ngModel)]="usuario.secondname"></ion-input>
      </ion-item>

      <ion-item id="dato_usuario">
        <ion-label color="danger" *ngIf="usuario.controls.email.errors?.required">
          * Tiene que introducir el email
        </ion-label>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="usuario.email">
        </ion-input>
      </ion-item>

      <ion-item id="dato_usuario">
        <ion-label color="danger" *ngIf="usuario.controls.email.errors?.required">
          * Tiene que introducir la contraseña
        </ion-label>
        <ion-label position="floating">Password:</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="usuario.password"></ion-input>
      </ion-item>

      <!-- Porque ya tendríamos registrado al administrador -->
      <ion-input type="hidden" name="type" [(ngModel)]="usuario.type"></ion-input>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="almagest.invalid" id="bottom">
      <ion-icon name="person"></ion-icon>
      Registrar
    </ion-button>
  </form>
</ion-content>
